body {
    font-family: Arial, sans-serif;
    background-color: #4682b4;
    margin: 0;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 18px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: aliceblue;
}
th {
    background-color: #87cefa;
    color: white;
}
.btn-cancel {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cancel:hover {
    background-color: rgb(231, 0, 0);
}

a {
    color: #007BFF;
    text-decoration: none;
}