body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    background-image: url('../img/fundo.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4682b4;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
nav {
    background-color: #87cefa;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
main {
    padding: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #4682b4;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.introducao {
    background-color: #f0f8ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
