body {
    font-family: Arial, sans-serif;
    background-color: #4682b4;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #87cefa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
}
.payment-method {
    margin-bottom: 15px;
}
.payment-method input[type="radio"] {
    margin-right: 10px;
}
.total-price {
    font-size: 18px;
    margin: 20px 0;
    font-weight: bold;
}
.buttons {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
a {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.btn-confirm {
    background-color: green;
    color: white;
}
.btn-cancel {
    background-color: red;
    color: white;
    margin-right: 5px;
}

.btn-cancel:hover {
    background-color: rgb(231, 0, 0);
}

.btn-confirm:hover {
    background-color: rgb(4, 114, 4);
}