body {
    font-family: Arial, sans-serif;
    background-color: #4682b4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.pedido-container {
    background: #87cefa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.pedido-container h2 {
    color: #333;
}
.detalhes {
    text-align: left;
    margin-top: 10px;
}
.detalhes p {
    margin: 5px 0;
}
.status {
    font-weight: bold;
    color: rgb(18, 84, 18);
}

.order-item {
    background-color: #f0f8ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.order-item p {
    margin: 5px 0;
}

.btn-cancel {
    background-color: red;
    color: white;
    padding: 10px;
    width: 95%;
    display: block;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 14px;
    border-radius: 10px;
}

.btn-cancel:hover {
    background-color: rgb(231, 0, 0);
}
